// Place all the styles related to the api/accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.account-button {
    cursor: pointer;
}

.account {
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.account-wrapper {
    left: 40%;
    top: 10%;
    position: fixed;
    width: 20%;
    min-width: 400px;
    height: 60%;
    min-height: 500px;
    border: 1px solid rgba(33, 206, 153, 0.3);
    border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: -1px 0px 23px 5px rgba(0,0,0,0.22);
    -moz-box-shadow: -1px 0px 23px 5px rgba(0,0,0,0.22);
    box-shadow: -1px 0px 23px 5px rgba(0,0,0,0.22);
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none; 
    display: flex;
    justify-content: center;
    line-height: 30px;
    
}

.funds {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}

.bank {
    // margin-bottom: 20px;
}

.current-balance {
    border-top: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    margin-top: 10px;

}

.current-balance :first-child {
    font-size: 17x;
    font-weight: 500;
}

.account-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -100px;
}

.close-button {
    font-size: 20px;
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;
}

.deposit-button {
    margin-top: 20px;
    font-size: 12px;
    background-color: #21CE99;
    color:white;
    padding: 15px 83px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
}

.deposit-amount {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    width: 100%;
    padding: 12px 20px;
    // margin: 0px 0px;
    box-sizing: border-box;
    border: 1px solid white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none;
    background-color: rgb(240, 240, 240);   
}

#account-msg {
    display: none;
    position: absolute;
    top: 200px;
    min-width: 100px;
    background-color: rgba(240, 128, 128, 0.8);
    border-radius: 5px;
    padding: 30px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-left: -10px;
    color: white;
}