.searchbar-div {
    float: left;
}

.searchbar {
    float: left;
    margin-left: 100px;
    width: 50%;
    margin-top: 12px;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    border-radius: 4px;
    font-size: 15px;
    background-color: white;
    padding: 12px 17px 12px 34px;
    z-index: 1000;
}

.searchbar:hover {
    box-shadow: 0px -1px 8px 4px rgba(0,0,0,0.1);
}
.searchbar:focus {
    box-shadow: 0px -1px 8px 4px rgba(0,0,0,0.1);
    outline: none;

}

.search-form {
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 0px;

}
// .searchbar {

//     width: 40%
// }
// input[type=text] {
//   width: 130px;
//   box-sizing: border-box;
//   border: 2px solid #ccc;
//   border-radius: 4px;
//   font-size: 16px;
//   background-color: white;
//   background-image: url('searchicon.png');
//   background-position: 10px 10px; 
//   background-repeat: no-repeat;
//   padding: 12px 20px 12px 40px;
//   -webkit-transition: width 0.4s ease-in-out;
//   transition: width 0.4s ease-in-out;
//   text-align: left;
// }

// /* When the input field gets focus, change its width to 100% */
// input[type=text]:focus {
//   width: 60%;
//   background-color: lightgrey;
// }

#search-results {
    position: absolute;
    left: 195px;
    top: 60px;
    // float: left;
    // margin-left: 100px;
    // width: 20%;
    // margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    border-radius: 4px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    // padding: 12px 17px 12px 34px;
    z-index: 1000;
    text-align: left;
    box-shadow: 0px -1px 8px 4px rgba(0,0,0,0.1);
    outline: none;
}

.search-link {
    font-size: 13px;
    text-decoration: none;
    color: rgb(60, 60, 60);
}

.search-item {
    display: flex;
    justify-content: space-between;
    padding: 12px 34px 12px 34px;   
}

.search-item:hover {
    background-color: rgba(144, 238, 144, 0.5);
}

#search-empty {
    display: none;
}

.search-space {
    min-width: 50px;
}

// #first-result {
//     border: 1px solid rgba(144, 238, 144, 1);
//     background-color: rgba(144, 238, 144, 0.3);
// }