// Place all the styles related to the api/stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.port-item-link {
    width: 275px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-left: 26px;
    // padding-top: 5px;
    border-bottom: lightgrey 1px solid;
    padding-left: 19px;
    margin-left: 3px;
    // margin-top: 4px;
    // margin-bottom: 20px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 400;
    text-shadow: darken;
}

.port-item-symbol {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.port-item-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
    text-align: right;
}

.port-header {
    text-align: left;
    margin-left: 20px;
    margin-bottom: -10px;
}