// Place all the styles related to the api/stock_orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .stock-order {
//     position: fixed;
//     top: 100px;
//     right: 15%;
//     display: block;
//     z-index: 999;
//     border-radius: 3px;
//     width: 300px;
//     background-color: white;
//     min-height: 50%;
//     max-height: 50%;
//     -webkit-box-shadow: -1px 0px 23px 5px rgba(0,0,0,0.22);
//     -moz-box-shadow: -1px 0px 23px 5px rgba(0,0,0,0.22);
//     box-shadow: -1px 0px 23px 5px rgba(0,0,0,0.22);
//     overflow: scroll;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;
//     z-index: -1;
// } 

.stock-order {
    position: fixed;
    top: 100px;
    left: calc(45% + 330px);

    display: block;
    z-index: -1;
    border-radius: 3px;
    width: 280px;
    background-color: white;
    min-height: 450px;
    max-height: 450px;
    -webkit-box-shadow: -1px 0px 23px 5px rgba(0,0,0,0.22);
    -moz-box-shadow: -1px 0px 23px 5px rgba(0,0,0,0.22);
    box-shadow: -1px 0px 23px 5px rgba(0,0,0,0.22);
    overflow: hidden;
}

.stock-order > * {
    margin: 15px;
    text-align: left;
    border-bottom: lightgrey 1px solid;
}

.order-symbol {
    display: flex;
    justify-content: space-between;
    min-height: 30px;
}

#buy:hover,#buy-selected {
    color: #21CE99;
    border-bottom: #21CE99 3px solid;
    cursor: pointer;
}

// #buy-selected {
//     color: #21CE99;
//     border-bottom: #21CE99 2px solid;
// }

#sell:hover,#sell-selected {
    color: lightcoral;
    border-bottom: lightcoral 3px solid;
    cursor: pointer;
}

.stock-2 {
    min-height: 150px;
    text-align: center;
}

.stock-3 {
    min-height: 30px;
    text-align: center;
    color: #72ca9d;
    font-size: 13px;
}

.stock-4 {
    min-height: 85px;
}

.howmany, .howmany-sell {
    text-align: center;
    font-size: 15px;
    width: 100%;
    padding: 12px 20px;
    margin: 0px 0px;
    box-sizing: border-box;
    border: 1px solid white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none;
    background-color: rgb(240, 240, 240);    
}

.howmany:hover, .howmany-sell {
    border: 1px solid rgb(199, 199, 199);
    background: white;
}

.howmany:focus {
    border: 1px solid #21CE99;
    background: white;
    outline: none;    
}

.howmany-sell:focus {
    border: 1px solid lightcoral;
}

.buy {
    margin-top: 20px;
    font-size: 12px;
    background-color: #21CE99;
    color:white;
    padding: 15px 83px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
}

.sell {
    margin-top: 20px;
    font-size: 12px;
    background-color: lightcoral;
    color:white;
    padding: 15px 83px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
}

.buy:hover {
    background-color: rgb(86, 240, 181);
}

.cost, .cost-sell, #cost {
    display: relative;
    margin: 13px;
    font-size: 13px;
}


#no-cost {
    display: none;
    margin: 13px;
}


.addToWatchlist {
    margin-top: 5px;
    font-size: 12px;
    background-color: #21CE99;
    color:white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
}

.addToWatchlist:hover {
    background-color: rgb(86, 240, 181);
}

#shares {
    display: flex;
    justify-content: center;
}

#shares-inner {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 15px;
    text-align: center;
    padding-bottom: 20px;
}