/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




 * { 
     margin: 0; 
     padding: 0; 
     border: none; 
     font-family: sans-serif;
    }

 .main {
     margin: 0;
 }

.main-div {
    text-align: center;
}

 body {
     /* background-color: #21CE99; */
     margin: 0px;
     padding: 0px;
     box-sizing: content-box;
     display: block;
     float: none;
     line-height: normal;
     position: static;
     z-index: auto;
 }


.main_one {
    display: flex;
    justify-content: center;
    background-color: #21CE99;
    text-align: center;
    height: 670px;
}


.one-inner {
    position: relative;
    z-index: 1;
    margin-right: 15%;
    width: 500px;
    margin-right: 0px;
}
.one-inner > h3 {
    
    margin-top: 75px;
    text-align: left;
    font-size: 60px;
    margin-right: 0px;
    right: 0;
}

.pioneer {
    text-align: left;
    font-size: 23px;
    margin-right: 0px;
    line-height: 50px;
    font-weight: 100;
}

#one {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: left;
    margin-top: 85px;
    /* margin-left: 10%; */
    /* margin-right: 7%; */
    min-width: 1000px;
    overflow-x: hidden;
}

.main_two {
    height: 350px;
    background-color: white;
    text-align: center;
}

.main_two img {
    margin-bottom: -5px;
    margin-right: 3px;
}

#two {
    margin-top: 100px;
    display: inline-block;
    text-align: center;
    width: 49%
    /* width: 1000px; */
}

#two > h3 {
    font-size: 35px;
}

#two > p {
    line-height: 30px;
    font-size: 16px;
    font-weight: 100;
    /* font-family: 'Courier New', Courier, monospace */
}

#two > div {
    margin-top: 25px;
    font-weight: 500;
    color: rgb(100, 100, 100);
    font-style: italic;
    font-size: 14px;
}

.main_two_five {
    text-align: center;
    background-color: #F5F8FA;
    height: 600px;
    /* line-height: 50px; */
    overflow: hidden;
}

#twothree {
    display: flex;
    justify-content: center;
}

#twofive {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 60%;
    margin-top: 50px;
    /* margin-left: -200px; */
}

#twofive * {
    line-height: 30px;
}
#twofive > div {
    margin-top: 50px;
    width: 800px;
}


#twofive h3 {
    font-size: 35px;
}

#twofive h4 {
    font-size: 22px;
    font-weight: 500;
}

#twofive  p {
    font-weight: 100;
}

#twofivefive {
    margin-top: 80px;
    display: flex;

}

#twofivefive > div {
    margin-right: 40px;
}

#twofive p {
    margin-top: 10px;
}

#twofive > p {
    color: rgb(103, 102, 102);
}

.main_three {
    background-color: black;
    height: 400px;
    text-align: center;
}

#three {
    display: inline-block;
    text-align: left;
    width: 70%;
    color: white;
}

#three > h3 {
    margin-top: 140px;
    font-size: 30px;
}

#three > p {
    font-size: 20px;
}

.main_four {
    background-color: white;
    height: 600px;
    text-align: center;
}

#four {
    margin-top: 100px;
    display: inline-block;
    text-align: left;
    width: 70%;
    line-height: 30px;
    margin-bottom: 100px;
}

#four > h2 {
    position: relative;
    font-size: 30px;
}

.main_five {
    margin-top: 120px;
    background-color: black;
    height: 400px;
    text-align: left;
    color: gray;
    padding-left:  10%;
    padding-right: 10%;
    padding-top: 50px;
}

.main_five p {
    margin-top: 40px;
}
.product-img {
    position: relative;
    left: 15%;
    width: 495px;
    height: 429px;

}

.product-img > img {
    width: 100%;
}

#four > h4 {
    margin-top: 30px;
}
.app {
    text-align: center;
}




.main-dropdown {
    float: right;
    position: fixed;  
    right: 15px;
      
}

.drop-button {
    margin-top: 8px;
    margin-right: 20px;
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 15px;
    border: none;
}

.main-dropdown {
    position: relative;
    display: inline-block;
}

.drop-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-menu > * {
    font-size: 14px;
    font-weight: 100;
    line-height: 100px;
    margin-left: 30px;
    text-align: left;
    text-decoration: none;
    color: black;
}


.main-dropdown:hover .drop-menu {
    display: block; 
}

.curr-user {
    text-decoration: none;
    color: black;
}

.curr-user:hover {
    cursor: default;
}

.curr-username {
    text-decoration: none;
    color: black;
    font-weight: 100;
    font-size: 14px;
}

.account-link {
    text-decoration: none;
    color: black;

    font-size: 14px;
}

#drop-logo {
    float: left;
    width: 24px;
    height: 100px;
    margin-right: 10px;
}

/* .logout-div {
    display: flex;
    justify-content: left;
    margin: 0px;
    padding: 0px;
} */

#drop-logo-logout {
    float: right;
    width: 24px;
    height: 100px;
    margin-right: 10px;
    margin-left: -20px;
}
.logout {
    font-size: 14px;
    font-weight: 100;
}

.logout:hover {
    cursor: pointer;
}

.error-div {
    position: absolute;
}

.phone-cont {
    margin-top: -10px;
    display: relative;
    max-width: 700px;
    max-height: 700px;
    width: 100%;
    height: 100%;

}

.phone-container {
    /* padding: 0px; */
    /* top: 80px; */
    /* bottom: 120px; */
    /* right: 80px; */
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    position: relative;
    /* position: absolute; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    /* display: flex; */
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    z-index: 0;
}

.phone {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
    position: absolute;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.phone-frame-div {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.phone-frame {
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: contain;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pioneer {
    text-align: left;
    line-height: 30px;
}

.portfolio {
    font-size: 15px;
    text-decoration: none;
    color: black;
    float: right;
    position: fixed;
    top: 24px;
    z-index: -1;
}

.links {
    display: flex;
    justify-content: center;
    background: black;
    min-height: 300px;

}

.links > a {
    position: relative;
    display: inline-block;
}

.icon {
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 100%;
    -webkit-tap-highlight-color: transparent;
}

.github {
    background: black;
    fill: white;
}

.linkedin {
    background: white;
    fill: black;
    padding: 0px;
}

.icon:hover {
    fill: grey;
}
