.company-div {
    z-index: -1;
    padding: 30px;
    top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
    background-color: white;
    width: 700px;
    line-height: 22px;
}

.company-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: left;
    margin-left: 20px;
    margin-top: 70px;
    margin-bottom: 20px;
    border-bottom: black;   
}

.company-about {
    min-width: 700px;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 0px;
}

.company-description {
    padding-right: 80px;
    float: left;
    display: flex;
    flex-direction: column;
    width: 700px;
    text-align: left;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    padding-bottom: 20px;
}

.company-information {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 40px;
}

.company-information > div > div {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 10px;
}
.company-information > div {
    margin-top: 10px;
}

.company-information > div > div > p {
    font-weight: 300;
}

.company-ceo > p {
    color: #21CE99;
    font-weight: 500;
}