.dashboard-main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 0px;
    justify-content: flex-start;



}

.dashboard-inner {
    // display: flex;
    // justify-content: space-evenly;
    // flex-direction: row;
    width: 100vw;
    margin-top: 80px;
    // height: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;

}

.portfolio-watchlist {
    position: fixed;
    top: 100px;
    left: calc(45% + 330px);

    display: block;
    z-index: 999;
    border-radius: 3px;
    width: 300px;
    background-color: white;
    min-height: 78%;
    max-height: 78%;
    -webkit-box-shadow: -1px 0px 23px 5px rgba(0,0,0,0.22);
    -moz-box-shadow: -1px 0px 23px 5px rgba(0,0,0,0.22);
    box-shadow: -1px 0px 23px 5px rgba(0,0,0,0.22);
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none; 
}

.portfolio-watchlist::-webkit-scrollbar { 
    width: 0 !important;
}

.portfolio-watchlist-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    right: -17px;
    overflow: scroll;
}

.stock-info {
    position: absolute;
    border-radius: 3px;
    top: 15%;
    left: 8%;
    background-color: white;
    width: 50%;
    height: 300px;
    -webkit-box-shadow: -1px 0px 23px 5px rgba(0,0,0,0.22);
    -moz-box-shadow: -1px 0px 23px 5px rgba(0,0,0,0.22);
    box-shadow: -1px 0px 23px 5px rgba(0,0,0,0.22);
}

.portfolio-summary {

    // position: absolute;
    border-radius: 3px;
    // top: 5%;
    // left: 8%;
    background-color: white;
    max-width: 760px;
    // min-width: 760px;
    // min-height: 350px;


    // -webkit-box-shadow: -1px 0px 23px 5px rgba(0,0,0,0.22);
    // -moz-box-shadow: -1px 0px 23px 5px rgba(0,0,0,0.22);
    // box-shadow: -1px 0px 23px 5px rgba(0,0,0,0.22);
}

.dashboard-port-news {
    width: 760px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    margin-right: 25%;
}
