.stock-info1 {
    width: 760px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    margin-right: 25%;
}

.chart-title {
    position: absolute;
    margin-left: 50px;
    margin-top: 25px;
    font-size: 40px;
    font-weight: 500;
}

.stock-info2 {
    // position: absolute;
    text-align: left;
    width: 720px;
    margin-left: 50px;
    font-size: 35px;
}

.stock-info-chart {
    position: absolute;
    // margin-top: -200px;
}
